.global-width {
    max-width: 1280px;
    margin: 0 auto;
}
section {
    border-bottom: 1px solid #EAEAEA;
    padding: 30px 10px 95px;
}
.alt {
    background: #F6F6F6;
}
a {
    border-bottom: 2px dashed #B0D8D7;
    color: #7FA7A6;
    text-decoration: none;
}
a.img-link {
    border-bottom: none;
}
.h2 {
    clear: left;
    color: #828282;
    /* font: 30px 'BebasRegular',Arial,sans-serif; */
    font: 30px 'aw-conqueror-carved-one',sans-serif;
    font-size: 3rem;
    height: 80px;
    letter-spacing: 0;
    margin: 50px 0;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 12px;
}
h3 {
    color: #7FAEAB;
    /*font: 30px 'BebasRegular',Arial,sans-serif; */
    font: 30px 'aw-conqueror-carved-one',sans-serif;
    font-size: 3rem;
    letter-spacing: 1px;
    margin: 30px 20px 20px 30px;
    word-spacing: 5px;
}
h3 a {
    text-decoration: none;
    border-bottom: none;
  font-size: 2.8rem;
  /*font-family: 'duru sans';*/
    font-family: 'aw-conqueror-carved-one';
  text-transform: uppercase;
  letter-spacing: 0px;
}
p {
    margin: 0 30px 20px;
}
h4 {
    color: #777;
    font-size: 20px;
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0 10px 30px;
}
.inline{
    display: inline-block;
}
table {
    text-transform: uppercase;
    background-color: #F6F6F6;
    font-weight: bold;
    border-color: #EAEAEA;
    letter-spacing: .8px;
    border: 1px solid #DDD;
    border-radius: 4px;
}
th, td {    
    vertical-align: top;

    text-align: center;
}
th {
    height: 40px;
    line-height: 40px;
}
td {
    font-size: 10px;
    font-size: 1rem;
    padding: 8px;
    color: #8B8F90;
    line-height: 35px;
    display: block;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #FFF;

}
td:hover {
    color: #282F31;
    background-color: #FFF;
}
tr:nth-child(even) td {
    background:  #FAFAFA;
}