footer {
	text-align: center;
	position: relative;
}
footer legend {
	position: absolute;
	left: -999em;
}
footer p {
	font-size: 11px;
	font-size: 1.1rem;
	color: #AAA;
	margin: 4px auto;
}
footer a {
	color: #FFF;
	text-decoration: none;
}
.footer-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #333;
}

.add-item {
	position: absolute;
	left: -999em;
}
.project-options > li {
	display: inline-block;
	width: 50%;
	padding: 5px;
	border-left: 1px solid #555;
}
.project-options > li a{
	display: block;
}
.project-options > li:first-child {
	border-left:none;
	border-right: 1px solid #222;
}