.fixed {
    position: fixed;
    top: 0
} 
nav {
    background: #7FAEAB;
    text-align: center;
    width: 100%;
    z-index: 9999;
    position: absolute;
    left: 0;
    right: 0;
    top: 538px;
    display: block;
    z-index: 100;
}
nav li {
    display: inline-block;
    list-style: none outside none;
    zoom: 1;
    *display: inline;
    text-transform: uppercase;
}
nav li a {
    border-bottom: none;
    color: #FFF;
    height: 60px;
    line-height: 60px;
    display: block;
    padding: 0 28px;
}
nav a:hover, nav a.active {
    background: #A1CAC8;
    position: relative;
}
a.active:after {
    border: 15px solid transparent;
    border: 15px solid rgba(0,0,0,0);
    border-top-color: #A1CAC8;
    bottom: -30px;
    content: "";
    left: 50%;
    margin-left: -15px;
    position: absolute;
}
.menu-icon {
    display: none;
}